<h1>Acerca de nosotros</h1>
<p>Nicolas Castro</p>
<p>Camilo Garcia</p>
<p>Wilman Guarin</p>
<p>Tania Hurtado</p>
<p>Gustavo Galvis</p>

<p> <%= link_to 'Home', root_path %> </p>
<p> <%= link_to 'Contactanos ', contactUS_path %> </p>