<h1>Welcome to Our Project LavaloTu</h1>
<br>
<p> <%= link_to 'Mensajes', messages_path %> </p>
<p> <%= link_to 'Contactenos', contactUS_path %> </p>
<p><%=link_to "Acerca de nosotros", aboutUS_path %></p>

